# nano backups
*~

# emacs auto-save files
"#*#"

# My general rubbish
res
*.log

# Files and directories created by the python setup.py process
build/
dist/
*.tar.gz
MANIFEST
# file used with --record switch to setup.py
files.txt

# C related files
*.o

# xml config
#code/python/upspico/picofssd/etc/pimodules/picofssd/picofssd.xml




pico_status/pico_status_0x30.zip
